{{!-- Comment card template --}}
<div class="card m-1 border border-0">
    <div class="card-body border border-dark rounded p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-contents m-1 p-2">
            <p>{{text}}</p>
            <p>By: {{username}} on {{format_date creation_date}}</p>
        </div>
    </div>
</div>