{{!-- Comment card template --}}
<div class="card m-1">
    <div class="card-body border p-0 m-3">
        <div class="d-flex flex-row justify-content-between card-contents m-1">
            <p>{{text}}</p>
            <p>{{username}}</p>
        </div>
    </div>
</div>