<div class="card m-1">
    <div class="card-body border border-dark p-0 m-3">
        <h3 class="card-header bg-secondary m-1">{{title}}</h3>
        <p>{{user}}</p>
            <div class="card-contents m-1">
                <p>{{contents}}</p>
            </div>
    </div>
</div>

<script src="./post.js"></script>