<nav class="container-fluid col-12 w-100">
    <ul class="d-flex flex-row justify-conent-start">
        <li>Home</li>
        <li>Dashboard</li>
        <li>Login</li>
        <li>Logout</li>
    </ul>
</nav>


<div>
    <p>Testing Handlebars!!!!!!!</p>
</div>