<div class="d-flex flex-row justify-content-start">
    <h2 class="m-2 ms-4 me-3">{{username}}'s Dashboard</h2>
    <button class="btn"><a href="/new-post">New Post</a></button>    
</div>    

{{#each displayPosts as |post|}}
{{> post-card }}
{{/each}}