body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #907676;
    border: none;
}

nav {
    background-color: #642323;
}

ul {
    list-style: none;
}

li {
    padding: 2%;
}

li:last-child {
    color: #fff;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.card-header {
    color: #fff;
    background-color: #642323;

}

.btn {
    background-color: #907676;
}

.btn a {
    color: #000;
}

