body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: aqua;
    border: none;
}

nav {
    background-color: brown;
}

ul {
    list-style: none;
}

li {
    padding: 2%;
}

li:last-child {
    margin-left: auto;
}
a {
    text-decoration: none;
    color: #fff;
}
.comment-form {
    display: none;
}